<h1>Show Method</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @method.name %>
  </li>
  <li>
    <%= link "Exercises", to: Routes.method_exercise_path(@conn, :index, @method) %>
  </li>
</ul>

<span><%= link "Edit", to: Routes.method_path(@conn, :edit, @method) %></span>
<span><%= link "Back", to: Routes.method_path(@conn, :index) %></span>
