<h1>New Exercise</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.method_exercise_path(@conn, :create, @method)) %>

<span><%= link "Back", to: Routes.method_exercise_path(@conn, :index, @method) %></span>
